@font-face{
  font-family: nexa;
  src: url("fonts/nexa/Nexa_Bold.otf");
}

/*ie does not suppport main*/
main {
  display: block;
}

html, body, p, h2, header, section, li, ul{
  margin: 0;
  padding: 0;
}

html{
  background-color: black;
}

a{
  color: rgb(102, 93, 84);
  text-decoration: none
}

abbr{
  border: none;
  text-decoration: none;
}

body{
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
  background: #2B2B2B;
  color: rgb(102, 93, 84);
}

header{
  padding: .5em 0;
  text-align: center;
  color: white;
  background-image: url("../images/background_1x.jpg");
  background-image: -webkit-image-set(
    url("../images/background_1x.jpg") 1x,
    url("../images/background_2x.jpg") 2x);
  background-image: image-set(
    url("../images/background_1x.jpg") 1x,
    url("../images/background_2x.jpg") 2x);
  background-size: cover;
  background-position: 50% 60%;
  font-family: nexa, sans-serif;
  font-size: 1em;
  transform: translate3d(0, 0, 0);
  transition: background-position 10s;
  will-change: background-position;
}

header h1{
  line-height: 1em;
  margin: .2em 0 .5em 0;
  display: inline-block;
  background-color: rgba(0,0,0,.6);
  padding: .2em .2em .2em .2em;
  border-bottom: none;
}

p, .fancypill{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#join{
  line-height: 1.5em;
  text-align: center;
  font-style: italic;
  padding: .5em 0;
  font-size: 1em;
  font-weight: bold;
  background-image: url("../images/logos.jpg");
  background-size: contain;
}

.fancypill{
  padding: 0;
  margin: 0;
  margin: auto;
  text-align: center;
  width: auto;
  margin-top: 1.2em;
  font-style: normal;
  min-width: 45%;
}

.fancypill > li{
  width: 30%;
  line-height: 2.875em;
  background-color: rgb(100, 91, 82);
}

.fancypill a{
  color: rgb(249, 245, 236);
}

.fancypill li:first-child{
  border-radius: 0.625em 0 0 0.625em;
}
.fancypill li:last-child{
  border-radius:  0 0.625em 0.625em 0;
}

section > p{
  margin: 0 1em;
}

section > h2{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-size: 1em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: rgb(94, 85, 76);
  background-color: rgb(229, 222, 213);
  line-height: 2.2em;
  padding-left: 0.625em;
  border-bottom: 0.2em solid #e0d9ce;
}

footer{
   margin: 0.625em 0;
   text-align: center;
   transform: translate3d(0, 0, 0);
}

#attributions{
  text-align: center;
  font-size: .7em;
  background-color: black;
  color: rgb(200,200,200);
  font-family: sans-serif;
  padding-top: 1em;
}

#attributions a{
  color: rgb(200,200,200);
}

.buttonlist{
  list-style-type: none;
  padding-bottom: .7em;
  padding-top: 0;
}

.buttonlist > li{
  display: inline-block;
  padding: 0 1em;
}

ul{
  padding: 1em 2.2em;
  list-style-type: none;
  line-height: 2.2em;
}

.interactivelist > li{
  padding: .5em 0;
}

.interactivelist a{
  text-align: center;
  display: inline-block;
  width: 2.3em;
  border-radius: 0.625em 0.625em;
  background-color: rgb(214, 208, 198);
}

img{
  vertical-align: middle;
}

.docslist, .interactivelist{
  line-height: 2em;
}

.docslist > li, .linkslist > li{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-position: .9em 40%;
  background-repeat: no-repeat;
  padding-left: 2.3em;
  background-size: 1em;
}

.docslist > li{
  background-image: url("../images/document.svg");
}

.linkslist > li {
  background-image: url("../images/link.svg");
}

.linkslist > li.mail {
  background-image: url("../images/mail.svg");
}


main{
  background-color: rgb(250, 245, 236);
}

header:after{
  margin: -.5em 0;
  content: "";
  width: auto;
  display:block;
  position: relative;
  height: 1em;
  background: linear-gradient(to right,  #ffffff 0%,#ffffff 6%,#94d9f2 6%,#94d9f2 13%,#f98d63 13%,#f98d63 19%,#f3ef7c 19%,#f3ef7c 25%,#2ebe9b 25%,#2ebe9b 31%,#9375dc 31%,#9375dc 37%,#faaca7 37%,#faaca7 44%,#3c87dc 44%,#3c87dc 50%,#8ec452 50%,#8ec452 56%,#fabc44 56%,#fabc44 63%,#d86bad 63%,#d86bad 69%,#d84e5a 69%,#d84e5a 75%,#f5f6d3 75%,#f5f6d3 81%,#7b6562 81%,#7b6562 88%,#424a54 88%,#424a54 94%,#030303 94%,#030303 100%);
  border-bottom: .25em solid rgb(200, 194, 183);
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.accelerated{
  overflow: hidden;
  transition: height .7s;
  transform: translate3d(0, 0, 0);
}

section.collapsable{
  overflow: hidden;
  height: 2.35em;
  will-change: height;
}

@media (min-width: 36em) {
    section > h2{
      font-size: .9em;
    }
    section.collapsable{
      height: auto;
    }
    ul.multicol{
         -moz-column-count: 2;
      -webkit-column-count: 2;
              column-count: 2;
    }
    header{
        background-position: 50% 40%;
    }
}

@media (min-width: 64em) {
  ul.multicol{
       -moz-column-count: 3;
    -webkit-column-count: 3;
            column-count: 3;
  }
  header{
    background-position: 0% 60%;
    background-image: url("../images/background_2x_crop.jpg");
  }
}
